{% extends 'nav.html' %}
{% load static %}

{% block content %}
    <div>
        <h4>Sample schema</h4>
        <a href="{% url "update_schema" pk=1 %}"><button class="btn-primary btn"> Edit schema</button></a>
        <br> <br>
        <table class="table table-striped table-bordered w-auto">
          <thead>
            <tr>
              <th>#</th>
              <th>Column name</th>
              <th>Column type</th>
            </tr>
          </thead>
          <tbody>
          {% for column in schema_columns %}
            <tr>
              <td>{{ column.order }}</td>
              <td>{{ column.column_name }}</td>
              <td>{{ column.column_type }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
    </div>
<br><br>
<div class="container">
    <h4>Data sets</h4>
    <div class="text-right">
        <input id="rows_number" required='required' type="number" />
        <a><button class="btn-primary btn" onclick="generateCsv()" style="border: greenyellow; background: mediumseagreen;">Generate</button></a>
    </div>
    <br> <br>
    <div class="csv_table">
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th>#</th>
              <th>Created</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody id="generator_body">
          {% for schema in schemas %}
            <tr>
              <td id="schema_id" class="schema_id">{{ schema.id }}</td>
              <td>{{ schema.created | date:"Y-m-d" }}</td>
              <td id="schema_status" class="schema_status">
                  {% if schema.status == 'Ready' %}
                      <button class="button readonly statusbut" style="background: greenyellow;">
                        {{ schema.status }}
                      </button>
                  {% else %}
                      <button class="button readonly statusbut">
                        {{ schema.status }}
                      </button>
                  {% endif %}
              </td>
              <td>
                  {% if schema.status != 'Not Generated' %}
                    <a href="{% url 'generate_csv' %}?csv=true&file_id={{ schema.id }}">Download</a>
                  {% endif %}
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
    </div>
</div>
{% endblock %}
{% block javascripts %}
    {{ block.super }}
    <script src="{% static "js/generate_request.js" %}"></script>
{% endblock %}