<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th>Created</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody id="generator_body">
  {% for schema in schemas %}
    <tr>
      <td id="schema_id" class="schema_id">{{ schema.id }}</td>
      <td>{{ schema.created | date:"Y-m-d" }}</td>
      <td id="schema_status" class="schema_status">
          {% if schema.status == 'Ready' %}
              <button class="button readonly statusbut" style="background: greenyellow;">
                {{ schema.status }}
              </button>
          {% else %}
              <button class="button readonly statusbut">
                {{ schema.status }}
              </button>
          {% endif %}
      </td>
      <td>
          {% if schema.status != 'Not Generated' %}
            <a href="{% url 'generate_csv' %}?csv=true&file_id={{ schema.id }}">Download</a>
          {% endif %}
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>